<!-- top rated products -->
<div class="px-5 ms-4">
  <h2 class="fw-bold mb-4">
    <i class="fas fa-boxes text-caffe me-2"></i>Similar Products
  </h2>
  <div class="section-underline mb-4 ms-5"></div>
</div>
<div class="container mt-2 mb-4" style="width: 87%">
  <div class="position-relative">
    <button class="carousel-btn left" [disabled]="!canScrollLeftTopRatedProduct" (click)="scrollLeftTopRatedProduct()">
      <i class="bi bi-chevron-left"></i>
    </button>

    <div class="hide-scrollbar d-flex overflow-auto gap-3 px-2" #topRatedSlider (scroll)="checkScrollTopRatedProduct()">

      @for(product of products; track product.id)
      {
      <div class="card flex-shrink-0" style="width: 19.3rem; position: relative;">
        <div class="cardHeader position-relative">

          <span class="badge position-absolute bg-dark bg-opacity-50 fw-semibold top-0 start-0 m-2 z-2"
            style="font-size: 0.88rem;">
            {{ product.categoryName }}
          </span>

          <div class="position-absolute top-0 end-0 m-2 z-2 d-flex gap-2">
            <!-- Wishlist Button -->
            <a *ngIf="hasRoleOrNoUser('Buyer')" (click)="toggleWishList(product)" class="d-inline-block"
              style="cursor: pointer;" role="button">
              <span class="badge bg-dark bg-opacity-50" style="font-size: 1rem;">
                <!-- <i class="bi {{ product.isFavorite ? 'bi-heart-fill text-danger' : 'bi-heart text-white' }}"></i> -->
                <i class="bi" [ngClass]="{
                                'bi-heart-fill text-danger': product?.isFavorite && hasUser(),
                                'bi-heart text-white': !product?.isFavorite || !hasUser()
                                }"></i>
              </span>
            </a>

            <!-- Add to Cart Button -->
            <a *ngIf="product.quantity > 0 && hasRoleOrNoUser('Buyer')" [routerLink]="['/products', product.id]"
              style="cursor: pointer;">
              <span class="badge bg-dark bg-opacity-50" style="font-size: 1rem;"><i class="bi bi-cart3"></i></span>
            </a>
          </div>

          <!-- Image Carousel -->
          <div class="position-relative overflow-hidden">
            <a [routerLink]="['/products', product.id]" class="d-block" style="position: relative;">
              <img [src]="apiConfig.apiUrl + product.productimage[currentImageIndices[product.id]]"
                alt="{{ product.name }} - Image {{ currentImageIndices[product.id] + 1 }}" class="img-fluid w-100"
                style="height: 255px; object-fit: cover; transition: transform 0.3s ease;" loading="lazy">


              <div *ngIf="product.quantity == 0"
                class="status-overlay d-flex align-items-center justify-content-center position-absolute">
                <div class="status-text text-white text-uppercase fw-bold bg-caffe"
                  style="font-size: 1.5rem; padding: 0.1rem 0.6rem; border-radius: 4px;">
                  SOLD OUT
                </div>
              </div>
            </a>

            <!-- Navigation buttons -->
            <div
              class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-between px-2"
              style="pointer-events: none;">
              <button class="navImgBtn btn btn-dark btn-sm rounded-circle bg-dark m-2" style="pointer-events: auto;"
                (click)="prevImage(product.id); $event.stopPropagation()">
                <i class="bi bi-chevron-left"></i>
              </button>
              <button class="navImgBtn btn btn-dark btn-sm rounded-circle bg-dark m-2" style="pointer-events: auto;"
                (click)="nextImage(product.id); $event.stopPropagation()">
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>

            <!-- Image counter -->
            <div class="position-absolute bottom-0 m-2 px-2 py-1 bg-dark bg-opacity-50 text-white rounded small z-2">
              <i class="bi bi-images me-1"></i>{{ currentImageIndices[product.id] + 1 }}/{{
              product.productimage.length }}
            </div>
          </div>

        </div>

        <div class="card-body p-2">

          <h5 class="card-title mb-1">
            {{ product.name }}
          </h5>

          <!-- Colors -->
          <div class="d-flex gap-2 flex-wrap my-3">
            <!-- First 7 colors -->
            <div *ngFor="let productStockDto of product.productStockDtos?.slice(0,4); let i = index"
              class="color-swatch hover-scale rounded-5" [class.selected]="i === 0"
              [style.background]="productStockDto.color" [class.out-of-stock]="productStockDto.quantity === 0">

              <div *ngIf="productStockDto.quantity === 0" class="out-of-stock-overlay"></div>
            </div>

            <!-- Enhanced remaining colors container -->
            <div *ngIf="(product.productStockDtos?.length ??0) > 4" class="position-relative d-inline-block">
              <div
                class="color-swatch-num mt-1 d-flex align-items-center justify-content-center position-relative fw-semibold"
                (click)="toggleColorList(product.id)">

                + {{ (product.productStockDtos?.length ?? 0) - 4 }} more
              </div>

              <!-- Hidden color list that appears on hover -->
              <div class="color-hover-container" *ngIf="openedProductId === product.id">
                <div class="d-flex gap-2 flex-column justify-content-center p-2">
                  <div *ngFor="let productStockDto of product.productStockDtos?.slice(4)" class="color-swatch rounded-5"
                    [style.background]="productStockDto.color">

                    <div *ngIf="productStockDto.quantity === 0" class="out-of-stock-overlay"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="fw-semibold text-muted" style="font-size: 1.25rem;">EGP {{ product.price | number }}</span>
            <span class=" badge text-white" [style.background-color]="product.isUsed ? '#de8332' : '#2a5f8b'">
              {{ product.isUsed ? 'Used' : 'New' }}
            </span>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-2">
            <div class="text-warning small">
              <ng-container *ngFor="let star of [].constructor(5); let i = index">
                <i class="star bi" [ngClass]="{
                                                    'bi-star-fill': i < Math.floor(product.averageRating),
                                                    'bi-star-half': i === Math.floor(product.averageRating) && product.averageRating % 1 !== 0,
                                                    'bi-star': i >= Math.ceil(product.averageRating)
                                                    }">
                </i>
              </ng-container>
            </div>
            <small class="text-muted">{{ product.numberOfReviews }} Reviews</small>
          </div>

          <!-- </a> -->
        </div>
      </div>
      }

    </div>

    <button class="carousel-btn right" [disabled]="!canScrollRightTopRatedProduct"
      (click)="scrollRightTopRatedProduct()">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>

  <div class="text-end mt-3 text-center">
    <a [routerLink]="['/products/all']" class="btn text-white mx-1 mb-2 rounded-3 fw-bold"
      style="background-color: #c38e79">
      View More <i class="bi bi-arrow-right ms-2"></i>
    </a>
  </div>

</div>
