.carousel-btn {
    position: absolute;
    top: 40%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .carousel-btn.left {
    left: -40px;
  }
  
  .carousel-btn.right {
    right: -40px;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .navImgBtn
  {
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;
  }
  
  .cardHeader:hover .navImgBtn
  {
    opacity: 0.60;
    z-index: 1;
  }

  @media (max-width: 768px) {
    .carousel-img {
        height: 400px;
    }
  
    .square-control {
        margin: 1rem;
        width: 2rem;
        height: 2rem;
    }
  
    .carousel-caption h1 {
        font-size: 1.5rem;
        position: relative;
        top: -100px;
    }
  
    .carousel-caption p {
        font-size: 1rem;
        position: relative;
        top: -100px;
    }
  
    .aa {
        position: relative;
        width: 80% !important;
        top: 10% !important;
        z-index: 1;
    }
  }