.btn-caffe:hover {
    background-color: #5d3e2c;
    color: white;
}

.card {
    border-radius: 0.7rem;
}

.copy-btn {
    font-size: 1rem;
    margin-bottom: 3px;
    
}
.pagination .page-item.active .page-link {
    background-color: #c38e79; 
    border-color: #c38e79;
    color: white;
  }
  .pagination .page-item .page-link:hover {
    background-color: #c38e79b6;  
    color: white;
  }
   
  .pagination .page-item .page-link:focus {
    outline: none;
    box-shadow: none;
  } 
  .pagination .page-item .page-link {
    color: #6c757d; 
  }