<div class="d-flex w-100 min-vh-100 shadow overflow-hidden">
    <div class="left-section bg-white position-relative d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-caffe mt-5 text-center">
            <i class="bi bi-box-arrow-in-right mt-5 fs-2"></i> Sign Up
        </h2>
        <form [formGroup]="Registerform" class="w-75" (ngSubmit)="Register()">
           
                    <!-- First Name -->
                    <div class="mt-3 mb-2">
                        <label class="form-label fw-semibold mb-0">First Name</label>
                        <div class="input-group">
                            <span class="input-group-text bg-light border-0">
                                <i class="bi bi-person text-caffe fs-5"></i>
                            </span>
                            <input type="text" class="form-control border-0 shadow-sm" placeholder="First Name"
                                formControlName="firstName">
                        </div>
                        <div *ngIf="Registerform.get('firstName')?.hasError('required') && Registerform.get('firstName')?.touched"
                            class="text-danger small ps-2">
                            First Name is required.
                        </div>
                        <div *ngIf="Registerform.get('firstName')?.hasError('minlength') && Registerform.get('firstName')?.touched"
                            class="text-danger small ps-2">
                            First Name at least 3 characters.
                        </div>
                        <div *ngIf="Registerform.get('firstName')?.hasError('maxlength') && Registerform.get('firstName')?.touched"
                            class="text-danger small ps-2">
                            First Name at most 50 characters.
                        </div>
                        <div *ngIf="Registerform.get('firstName')?.hasError('pattern') && Registerform.get('firstName')?.touched"
                            class="text-danger small ps-2">
                            First Name must be characters only.
                        </div>
                    </div>

                    <!-- Last Name -->
                    <div class="mt-2 mb-2">
                        <label class="form-label fw-semibold mb-0">Last Name</label>
                        <div class="input-group">
                            <span class="input-group-text bg-light border-0">
                                <i class="bi bi-person-fill text-caffe fs-5"></i>
                            </span>
                            <input type="text" class="form-control border-0 shadow-sm" placeholder="Last Name"
                                formControlName="lastName">
                        </div>
                        <div *ngIf="Registerform.get('lastName')?.hasError('minlength') && Registerform.get('lastName')?.touched"
                            class="text-danger small ps-2">
                            Last Name at least 3 characters.
                        </div>
                        <div *ngIf="Registerform.get('lastName')?.hasError('maxlength') && Registerform.get('lastName')?.touched"
                            class="text-danger small ps-2">
                            Last Name at most 50 characters.
                        </div>
                        <div *ngIf="Registerform.get('lastName')?.hasError('pattern') && Registerform.get('lastName')?.touched"
                            class="text-danger small ps-2">
                            Last Name must be characters only.
                        </div>
                    </div>
           
            <!-- Email -->
            <div class="mb-2 mt-2">
                <label class="form-label fw-semibold mb-0">Email</label>
                <div class="input-group">
                    <span class="input-group-text bg-light border-0">
                        <i class="bi bi-envelope text-caffe fs-5"></i>
                    </span>
                    <input type="email" class="form-control border-0 shadow-sm" placeholder="Enter your email"
                        formControlName="email">
                </div>
                <div *ngIf="Registerform.get('email')?.hasError('required') && Registerform.get('email')?.touched"
                    class="text-danger small ps-2">
                    Email is required.
                </div>
                <div *ngIf="Registerform.get('email')?.hasError('pattern') && Registerform.get('email')?.touched"
                    class="text-danger small ps-2">
                    Enter a valid email.
                </div>
            </div>

            <!-- Password and Confirm Password -->
            <div class="mb-2 mt-2">
                <label class="form-label fw-semibold mb-0">Password</label>
                <div class="input-group">
                    <span class="input-group-text bg-light border-0">
                        <i class="bi bi-key text-caffe fs-5"></i>
                    </span>
                    <input type="password" class="form-control border-0 shadow-sm" placeholder="Enter password"
                        formControlName="pass">
                </div>
                <div *ngIf="Registerform.get('pass')?.hasError('required') && Registerform.get('pass')?.touched"
                    class="text-danger small ps-2">
                    Password is required.
                </div>
                <div *ngIf="Registerform.get('pass')?.hasError('minlength') && Registerform.get('pass')?.touched"
                    class="text-danger small ps-2">
                    Password must be at least 8 characters.
                </div>
                <div *ngIf="Registerform.get('pass')?.hasError('maxlength') && Registerform.get('pass')?.touched"
                    class="text-danger small ps-2">
                    Password cannot exceed 10 characters.
                </div>
                <div *ngIf="Registerform.get('pass')?.hasError('pattern') && Registerform.get('pass')?.touched"
                    class="text-danger small ps-2">
                    Password must contain at least one uppercase letter, one lowercase letter, one number, and one
                    special character.
                </div>

                <div class="mb-2 mt-2">
                    <label class="form-label fw-semibold mb-0">Confirm Password</label>
                    <div class="input-group">
                        <span class="input-group-text bg-light border-0">
                            <i class="bi bi-key-fill text-caffe fs-5"></i>
                        </span>
                        <input type="password" class="form-control border-0 shadow-sm" placeholder="Enter password"
                            formControlName="confirmPassword">
                    </div>
                    <div *ngIf="Registerform.get('confirmPassword')?.hasError('required') && Registerform.get('confirmPassword')?.touched"
                        class="text-danger small ps-2">
                        Confirm Password is required.
                    </div>
                    <div *ngIf="Registerform.get('pass')?.touched && Registerform.get('confirmPassword')?.touched && Registerform.get('pass')?.value !== Registerform.get('confirmPassword')?.value"
                        class="text-danger small ps-2">
                        Confirm Passwords do not match.
                    </div>
                </div>
            </div>
                  <div class="error text-danger ms-3">
        {{errorMes}}
      </div>
            <!-- Submit and Google Signup -->
            <button class="mt-4 mb-2 text-light p-2 btnStyle bg-caffe w-75 mx-auto d-block">Sign Up</button>
            <div class="d-flex align-items-center mt-2">
                <hr class="flex-grow-1">
                <span class="mx-2">OR</span>
                <hr class="flex-grow-1">
            </div>
            <div>
                <button type="button" class="mt-2 mb-2 p-1 btnStyle w-75 mx-auto d-block" (click)="googleLogin($event)">
                    <img src="images/Home/Google.png" alt="Google Login" class="ms-0 me-3"
                        style="width: 32px; height: 32px; cursor: pointer;">
                    <p class="d-inline">Sign Up With Google</p> 
                  
                </button>
            </div>
            <p class="text-center mt-3 mb-0">
                Already have an account?
                <a [routerLink]="['/login']" class="text-decoration-none fw-bold text-caffe">Sign In</a>
            </p>
        </form>
    </div>
    <div class="right-section">
    </div>
</div>
