<div class="container-fluid mb-4">
    <div class="mt-5 ms-5">
        <h2 class="fw-bold"><span style="font-size: 0.9em;">📊</span> Admin Dashboard</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><small class="text-muted">Agent</small></li>
                <li class="breadcrumb-item active fw-semibold text-caffe"><small>Dashboard</small></li>
            </ol>
        </nav>
    </div>

    <!-- Split Page into Left and Right -->
    <div class="row mt-1 gx-3">
        <!-- Left Side: Cards and Charts -->
        <div class="col-lg-8 col-12 order-1 order-lg-1">
            <div class="row mt-1 g-3">
                <!-- Total Users -->
                <div class="col-sm-6 col-md-3">
                    <div class="card bg-caffe-light h-100" style="border: 1px solid rgba(195, 142, 121, 0.2)">
                      <h6 class="mb-0 pt-3 ps-3 d-flex align-items-center text-muted">
                        <i class="bi bi-people-fill me-1 text-caffe fs-5"></i> Total Users
                      </h6>
                  
                        <div class="mb-2 text-center">
                            <div class="fs-4 fw-bold mt-1 mb-1">{{ BuyerNumber + SellerNumber + AgentNumber | number }}</div>
                            <div class="d-flex justify-content-center small text-muted">
                                <span class="text-muted">Currently User</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Active Auctions -->
                <div class="col-sm-6 col-md-3">
                    <div class="card bg-caffe-light h-100" style="border: 1px solid rgba(195, 142, 121, 0.2)">
                        <div class="mb-0 pt-3 ps-3 d-flex align-items-center text-muted">
                            <h6 class="mb-0 d-flex align-items-center text-muted">
                                <i class="bi bi-hammer me-1text-caffe fs-5"></i>Active Auctions
                            </h6>
                        </div>
                        <div class="mb-2 text-center">
                            <div class="fs-4 fw-bold mt-1 mb-1">{{ ActiveAuctionProperties | number }}</div>
                            <small class="text-muted ms-1">Currently Active</small>
                        </div>
                    </div>
                </div>

                <!-- Available Properties -->
                <div class="col-sm-6 col-md-3">
                    <div class="card bg-caffe-light h-100" style="border: 1px solid rgba(195, 142, 121, 0.2)">
                        <div class="mb-0 pt-3 ps-3 d-flex align-items-center text-muted">
                            <h6 class="mb-0 d-flex align-items-center text-muted">
                                <i class="bi bi-house-door me-1 text-caffe fs-5"></i>Available Property
                            </h6>
                        </div>
                        <div class="mb-2 text-center">
                            <div class="fs-4 fw-bold mt-1 mb-1">{{ availableProperties }}</div>
                            <small class="text-muted ms-1">Properties</small>
                        </div>
                    </div>
                </div>

                <!-- Total Products -->
                <div class="col-sm-6 col-md-3">
                    <div class="card bg-caffe-light h-100" style="border: 1px solid rgba(195, 142, 121, 0.2)">
                        <div class="mb-0 pt-3 ps-3 d-flex align-items-center text-muted">
                            <h6 class="mb-0 d-flex align-items-center text-muted ">
                                <i class="bi bi-box-seam me-1 text-caffe fs-5"></i>Products
                            </h6>
                        </div>
                        <div class="mb-2 text-center">
                            <div class="fs-4 fw-bold mt-1 mb-1">{{ totalProducts }}</div>
                            <div class="d-flex justify-content-center small text-muted">
                                <span class="text-muted">{{ totalUsedProducts }} Used</span>
                                <span class="ms-1">{{ newProductsCount }} New</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart and Line Chart -->
            <div class="row mt-3 g-3">
                <!-- Pie Chart -->
                <div class="col-md-6">
                    <div class="card shadow-sm h-100">
                        <div class="card-header bg-white py-2 px-3">
                            <h6 class="mb-0 d-flex align-items-center">
                                <i class="bi bi-pie-chart me-2 fs-5"></i>Product Categories
                            </h6>
                        </div>
                        <div class="card-body pt-4" style="padding-left: 4vw;">
                            <div style="height:37vh; width:100%">
                                <canvas baseChart [data]="categoryDistributionChart" 
                                    [options]="categoryDistributionOptions" [type]="'pie'"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Line Chart -->
                <div class="col-md-6">
                    <div class="card shadow-sm h-100">
                        <div class="card-header bg-white">
                            <h6 class="mb-0 d-flex align-items-center">
                                <i class="bi bi-credit-card me-2 fs-5"></i>Number of Subscriptions
                            </h6>
                        </div>
                        <div class="card-body pt-5 px-1">
                            <div style="height:34vh; width:100%">
                                <canvas baseChart [data]="subscriptionPlanChart" 
                                        [options]="subscriptionPlanOptions" [type]="'bar'"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Line Chart Below -->
            <div class="row" style="margin-top: 30px;">
                <div class="col-12">
                    <div class="card shadow-sm">
                        <div class="card-header bg-white py-2 px-3">
                            <h6 class="mb-0 d-flex align-items-center ">
                                <i class="bi bi-star-fill me-2 fs-5"></i>Top Selling Products
                            </h6>
                        </div>
                        <div class="card-body p-">
                            <div style="height:33vh; width:100%">
                                <canvas baseChart [data]="topProductsChart" 
                                    [options]="topProductsOptions" [type]="'bar'"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Side: Portfolio Summary -->
        <div class="col-lg-4 col-12 order-2 order-lg-2 mt-5 mt-lg-0">
            <div class="card shadow-sm pb-1 mt-3">
                <div class="card-header bg-white border-bottom pt-3">
                    <h5 class="card-title d-flex align-items-center">
                        <i class="bi bi-clipboard-data me-2"></i>Portfolio Summary
                    </h5>
                </div>
                
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-2 border-0">
                            <div class="fw-semibold d-flex align-items-center">
                                <i class="bi bi-person me-2 text-caffe fs-4"></i> <h6 class="mb-1">User Summary</h6>
                            </div>
                            <div class="p-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-person-fill me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">Buyer</span>
                                        </span>
                                        <span class="ms-auto badge  bg-caffe  text-white rounded-pill px-2">{{ BuyerNumber }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-key me-2text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">Seller</span>
                                        </span>
                                        <span class="ms-auto badge  bg-caffe text-white rounded-pill px-2">{{ SellerNumber }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-check-circle-fill me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">Agent</span>
                                        </span>
                                        <span class="ms-auto badge  bg-caffe  text-white rounded-pill px-2">{{ AgentNumber }}</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
            
                        <div class="custom-hr"></div>
            
                        <!-- Property Summary Section -->
                        <li class="list-group-item border-0">
                            <div class="fw-semibold d-flex align-items-center">
                                <i class="bi bi-house me-2 text-caffe fs-4"></i> <h6 class="mb-1">Property Summary</h6>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small mt-1">
                                            <i class="bi bi-house-door-fill me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">For Sale</span>
                                        </span>
                                        <span class="ms-auto badge  bg-caffe  text-white rounded-pill px-2">{{ propertiesForSaleCount }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-key me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">For Rent</span>
                                        </span>
                                        <span class="ms-auto badge  bg-caffe  text-white rounded-pill px-2">{{ propertiesForRentCount }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-check-circle-fill me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">Available</span>
                                        </span>
                                        <span class="ms-auto badge  bg-caffe  text-white rounded-pill px-2">{{ availableProperties }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-currency-dollar me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">Sold/Rented</span>
                                        </span>
                                        <span class="ms-auto badge bg-caffe  text-white rounded-pill px-2">{{ soldAndRentedCount }}</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <div class="custom-hr"></div>
            
                        <!-- Auction Progress Section -->
                        <li class="list-group-item pt-2 mb-2 border-0">
                            <div class="fw-semibold mb-1 d-flex align-items-center">
                                <i class="bi bi-hammer me-2 text-caffe fs-4"></i> <h6 class="mb-1">Auction Summary</h6>
                            </div>
                            <div class="auction-progress">
                                <div class="d-flex justify-content-between ms-3 mb-1">
                                    <span class="small text-muted">Active Auctions Precentage</span>
                                </div>
                                <div class="progress" style="height: 1vh">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        [style.width]="auctionProgressWidth"></div>
                                </div>
                            </div>
            
                            <div>
                                <div class="row g-2 mx-1">
                                    <div class="col-6">
                                        <div class="card bg-light p-2 text-center h-100">
                                            <div class="text-muted small">Highest Sell Bid</div>
                                            <div class="fw-bold">£45,000</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card bg-light p-2 text-center h-100">
                                            <div class="text-muted small">Highest Rent Bid</div>
                                            <div class="fw-bold">£15,000</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2 mx-1 mt-1">
                                    <div class="col-6">
                                        <div class="card bg-light p-2 text-center h-100">
                                            <div class="text-muted small">upcoming</div>
                                            <div class="fw-bold">3</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card bg-light p-2 text-center h-100">
                                            <div class="text-muted small">Ending Auction</div>
                                            <div class="fw-bold">{{EndedAuctionProperties}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div class="custom-hr"></div>
            
                        <!-- Product Summary Section -->
                        <li class="list-group-item border-0">
                            <div class="fw-semibold d-flex align-items-center">
                                <i class="bi bi-box-seam me-2 text-caffe fs-4"></i> <h6>Product Summary</h6>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-bag-fill me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">Total Product</span>
                                        </span>
                                        <span class="ms-auto badge bg-caffe text-white rounded-pill px-2">{{ totalProducts }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi  bi-cart-check me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">Total Sold</span>
                                        </span>
                                        <span class="ms-auto badge bg-caffe  text-white rounded-pill px-2">{{ totalSold }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-recycle me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">Used</span>
                                        </span>
                                        <span class="ms-auto badge  bg-caffe  text-white rounded-pill px-2">{{ totalUsedProducts }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-2 ">
                                        <span class="d-flex align-items-center small">
                                            <i class="bi bi-patch-plus me-2 text-caffe" style="font-size:18px;"></i>
                                            <span class="fw-medium">New</span>
                                        </span>
                                        <span class="ms-auto badge  bg-caffe text-white rounded-pill px-2">{{ totalNewProducts }}</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>