<body>
    <div class="modal-dialog pe-3 ps-3 pt-1 pb-1 ">
        <div class="modal-content pe-5 ps-5 pt-3 pb-3">
            <button type="button" class="btn-close position-absolute top-1 end-0 m-2" (click)="closeDialog()" aria-label="Close"></button>
            <div class="d-flex justify-content-center mt-5">
                <h4 class="text-brown">  <i class="bi bi-box-arrow-in-right me-2"></i> Sign Up As</h4>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center ">
                    <!-- Buyer Choice -->
                    <a class="card mb-4 rounded-4 mt-3" (click)="signUpAsBuyer()" style="text-decoration: none;">
                        <div class="card-body d-flex flex-column p-3">
                            <h5 class="card-title text-brown"><i class="bi bi-person me-2 text-brown"></i> Buyer</h5>
                            <p class="card-text  text-brown">Browse and purchase products.</p>
                        </div>
                    </a>

                    <!-- Seller Choice -->
                    <a   class="card mb-4 rounded-4" (click)="signUpAsSeller()" style="text-decoration: none;">
                        <div class="card-body d-flex flex-column p-3">
                            <h5 class="card-title  text-brown"><i class="bi bi-shop me-2  text-brown"></i> Seller</h5>
                            <p class="card-text  text-brown">List and sell your items.</p>
                        </div>
                    </a>

                    <!-- Agent Choice -->
                    <a  class="card mb-4 rounded-4" (click)="signUpAsAgent()" style="text-decoration: none;">
                        <div class="card-body d-flex flex-column p-3">
                            <h5 class="card-title  text-brown"><i class="bi bi-briefcase me-2  text-brown"></i> Agent</h5>
                            <p class="card-text  text-brown">Manage listings for others.</p>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</body>
