<div class="mt-5 ms-5">
    <h2 class="fw-bold"><span style="font-size: 0.9em;"></span> Create Admin</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><small class="text-muted">Admin</small></li>
            <li class="breadcrumb-item active fw-semibold text-caffe"><small>Dashboard</small></li>
        </ol>
    </nav>
</div>
<div class="mt-5 ms-5 me-5">
    <div>
        <h2 class="fw-bold">
          <span style="font-size: 0.9em;">
            <i class="bi bi-box-seam text-caffe"></i> Add Product
          </span>
        </h2>
        <nav aria-label="breadcrumb" class="mt-2">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item mb-0">
                    <p class="text-muted mb-0">Admin</p>
                </li>
                <li class="breadcrumb-item active fw-semibold text-caffe" aria-current="page">Add Product</li>
            </ol>
        </nav>
    </div>
  </div>
  <div class="new-product-page mt-4">
    <div class="container py-4">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="bg-white p-4 rounded shadow">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3 class="mb-0">Add New Product</h3>
              <a routerLink="/products" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left me-2"></i>Back
              </a>
            </div>
  
            <hr style="border: 2px solid #c38e79" />
  
            <form [formGroup]="createAdminForm">
              <!-- Basic Information -->
              <div class="mb-4">
                <h5 class="mb-3">Admin Information</h5>
  
                <div class="row g-3">
                 
                          <!-- Last Name -->
                          <div class="mt-2 mb-2">
                            <label class="form-label fw-semibold mb-0">Name</label>
                            <div class="input-group">
                                <span class="input-group-text bg-light border-0">
                                    <i class="bi bi-person-fill text-caffe fs-5"></i>
                                </span>
                                <input type="text" class="form-control border-0 shadow-sm" placeholder="Name"
                                    formControlName="Name">
                            </div>
                            <div *ngIf="createAdminForm.get('Name')?.hasError('required') && createAdminForm.get('Name')?.touched"
                              class="text-danger small ps-2">
                              Name is required.
                            </div>
                            <div *ngIf="createAdminForm.get('Name')?.hasError('minlength') && createAdminForm.get('Name')?.touched"
                                class="text-danger small ps-2">
                                 Name at least 3 characters.
                            </div>
                            <div *ngIf="createAdminForm.get('Name')?.hasError('pattern') && createAdminForm.get('Name')?.touched"
                                class="text-danger small ps-2">
                                 Name must be characters only.
                            </div>
                        </div>
               
                <!-- Email -->
                <div class="mb-2 mt-2">
                    <label class="form-label fw-semibold mb-0">Email</label>
                    <div class="input-group">
                        <span class="input-group-text bg-light border-0">
                            <i class="bi bi-envelope text-caffe fs-5"></i>
                        </span>
                        <input type="email" class="form-control border-0 shadow-sm" placeholder="Enter your email"
                            formControlName="email">
                    </div>
                    <div *ngIf="createAdminForm.get('email')?.hasError('required') && createAdminForm.get('email')?.touched"
                        class="text-danger small ps-2">
                        Email is required.
                    </div>
                    <div *ngIf="createAdminForm.get('email')?.hasError('pattern') && createAdminForm.get('email')?.touched"
                        class="text-danger small ps-2">
                        Enter a valid email.
                    </div>
                </div>
              
    
            
 
  
           
                    </div>
                  </div>
          
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  