<div class="modal fade" id="photosModal" tabindex="-1" aria-labelledby="photosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered ">
    <div class="modal-content ">

      <div class="modal-header position-relative justify-content-between align-items-center border-0 px-4 d-flex">
        <button type="button" class="btn fs-1  ps-2 border-0 position-absolute end-0 top-0 mx-2 text-caffe"
          data-bs-dismiss="modal" aria-label="Close">
          &times;
        </button>

        <div class="flex-grow-1 mx-4">

          <ul class="nav nav-tabs custom-tabs border-0 h-100 w-100">
            <li class="nav-item">
              <a class="nav-link active fs-5 fw-bold" data-bs-toggle="tab" href="#all">Photos</a>
            </li>
            <li class="nav-item fs-5 fw-bold">
              <a class="nav-link" href="#tour" data-bs-toggle="tab" data-bs-target="#tour">3D tour</a>
            </li>

          </ul>
        </div>

      </div>
      <div class="modal-body tab-content">

        <div class="tab-pane fade show active" id="all">
          <div class="modal-body py-0 my-0">

            <div class="d-flex overflow-auto  gap-2 custom-scrollbar pb-2 ">
              <div class="text-center" *ngFor="let image of images; let i = index" role="button"
                [attr.data-bs-target]="'#propertyCarousel'" [attr.data-bs-slide-to]="i">
                <img [src]="apiConfig.apiUrl+ image" class="rounded"
                  style="width: 150px; height: 100px; object-fit: fill;" />
              </div>

            </div>
            <div class="position-relative">

              <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" style="height: 62vh;">
                  <div *ngFor="let image of images; let i = index" class="carousel-item h-100" [class.active]="i === 0">
                    <img [src]="apiConfig.apiUrl+  image" class="img-fluid d-block w-100 h-100 object-fit-fill"
                      [alt]="'Property ' + (i + 1)" />
                  </div>
                </div>


              </div>
              <div class="position-absolute w-100 d-flex justify-content-between p-0 fw-bold"
                style="bottom: 0; left: 0;">
                <button class="carousel-control-prev border-0 bg-transparent" type="button"
                  data-bs-target="#propertyCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next border-0 bg-transparent  fw-bold" type="button"
                  data-bs-target="#propertyCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </button>
              </div>


            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="tour">

        </div>

      </div>
    </div>
  </div>
</div>