<div class="mt-5 ms-5 me-5">
  <div>
    <h2 class="fw-bold">
      <span style="font-size: 0.9em;">📝</span> Order History
    </h2>
    <nav aria-label="breadcrumb" class="mt-2">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item mb-0">
          <p class="text-muted mb-0">User</p>
        </li>
        <li class="breadcrumb-item active fw-semibold text-caffe" aria-current="page">Your Order</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-5">
    <div class="d-flex">
      <a href="#" *ngFor="let link of orderLinks" (click)="setActive(link, $event)"
        [ngClass]="{'active-order': link === activeLink, 'text-muted': link !== activeLink}"
        class="me-4 text-decoration-none" style="font-size: 1.1rem;"> {{ link }}
      </a>

    </div>
    <div class="d-flex align-items-center">
      <input type="date" [(ngModel)]="startDate" (change)="onDateChange()" class="form-control me-3"
        style="width: 180px;">
      <label class="form-label fw-semibold mb-0 text-muted me-3 ">To</label>
      <input type="date" [(ngModel)]="endDate" (change)="onDateChange()" class="form-control" style="width: 180px;">
    </div>
  </div>
  <div class="mt-2">
    <div class="shadow-sm p-3 mb-2 mt-4 rounded bg-light row fw-semibold align-items-center text-center g-0">
      <div class="col-2">Order Id</div>
      <div class="col-2">Date</div>
      <div class="col-2">Status</div>
      <div class="col-2">Payment</div>
      <div class="col-2">Total</div>
      <div class="col-2">Action</div>
    </div>
    <div *ngFor="let order of filteredOrders"
      class="order-card shadow-sm p-4 mb-3 rounded bg-white row align-items-center text-center g-0">
      <div class="col-2 text-muted">#{{ order.id }}</div>
      <div class="col-2">{{ order.orderDate }}</div>

      <div class="col-2">
        <span [style.color]="getStatusColor(order.statusNum)">
          {{ getStatusText(order.statusNum) }}
        </span>
      </div>

      <div class="col-2">
        <span [style.color]="getPaymentColor(order.paymentMethod)">
          {{ order.paymentMethod ?? "Cash" }}
        </span>
      </div>

      <div class="col-2">{{ order.subTotal + order.deliveryFees | currency:'EGP ' }}</div>
      <div class="col-2">
        <a [routerLink]="['/user/orders',order.id]" class="text-decoration-none text-caffe ms-3"
          style="font-size: 17px;"> View
          Details <i class="bi bi-file-earmark-text"></i></a>
      </div>
    </div>
  </div>
