<header class="app-header">
  <!-- Mobile Navigation -->
  <nav class="mobile-nav" [class.active]="showMobileNav">
    <ul>
      <li *ngFor="let item of navItems">
        <a [routerLink]="item.link" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" (click)="showMobileNav = false">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Mobile Menu Toggle -->
  <button class="hamburger-btn" (click)="toggleMobileNav()">
    <i class="bi bi-list"></i>
  </button>
  <!-- Cart Backdrop -->
  <div class="cart-backdrop" [class.active]="showCart" (click)="toggleCart()"></div>

  <!-- Logo Section -->
  <div class="brand-container">
    <div class="brand-content">
      <a routerLink="/" class="brand-logo w-25">
        <img src="https://digital.ihg.com/is/image/ihg/intercontinental-cairo-10367348719-2x1" alt="UrbanNest">
      </a>
      <div class="brand-tagline">
        <a routerLink="/" class="brand-name w-25">UrbanNest</a>
        <span class="brand-services">
          <span class="service-item" [class.active]="isRouteActive('/properties')">Properties</span>
          <span class="separator"> | </span>
          <span class="service-item" [class.active]="isRouteActive('/products')">Furniture</span>
          <span class="separator"> | </span>
          <span class="service-item" [class.active]="isRouteActive('/auctions')">Auctions</span>
        </span>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->
  <nav class="primary-nav">
    <ul>
      <li *ngFor="let item of navItems">
        <!-- [routerLinkActiveOptions]="{ exact: true }" -->
        <!-- <a [routerLink]="item.link" class="nav-link" routerLinkActive="active">
          <i [class]="item.icon"></i>
          <span style="font-size: 1.1rem;">{{ item.label }}</span>
        </a> -->
        <a [routerLink]="item.link" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="item.link === '/' ? { exact: true } : { exact: false }">
          <i [class]="item.icon"></i>
          <span style="font-size: 1.1rem;">{{ item.label }}</span>
        </a>

      </li>
    </ul>
  </nav>

  <!-- User Controls -->
  <div class="user-controls">

    <div *ngIf="hasRoleOrNoUser('Buyer')" class="action-icons">
      <button class="icon-btn" (click)="toggleWishlist()">
        <i class="bi bi-heart fs-4"></i>
        <span *ngIf="wishlistCount > 0" class="badge">{{ wishlistCount }}</span>
      </button>
      <button class="icon-btn" (click)="toggleCart()">
        <i class="bi bi-cart fs-4"></i>
        <div *ngIf="(cart$ | async) as cart">
          <span *ngIf="(cart?.orderItemDtos?.length || 0) > 0" class="badge">{{ cart?.orderItemDtos?.length }}</span>
        </div>
      </button>
    </div>

    <!-- Cart Panel -->
    <div *ngIf="hasRoleOrNoUser('Buyer')" class="cart-panel" [class.active]="showCart">
      <div class="cart-header">
        <!-- <h4>Your Cart ({{ cartItems.length }})</h4> -->
        <h4>Your Cart</h4>
        <button class="close-btn" (click)="toggleCart()">&times;</button>
      </div>

      <div class="cart-content">
        <div *ngIf="(cart$ | async) as cart">
          <div class="mt-2 d-flex justify-content-between">
            <h4 *ngIf="cart?.orderItemDtos" class="fs-5">{{ cart?.orderItemDtos?.length }} Items</h4>
            <button *ngIf="(cart?.orderItemDtos?.length || 0) > 0" class="clear-btn" (click)="clearCart()">Clear
              Cart</button>
          </div>
        </div>

        <!-- Check if cart has items before looping -->
        <div *ngIf="(cart$ | async) as cart">
          <div *ngIf="(cart?.orderItemDtos?.length || 0) > 0">
            <div *ngFor="let item of cart?.orderItemDtos" class="cart-item">
              <img [src]="apiConfig.apiUrl + item?.productImage" alt="Product image">
              <div class="item-info">
                <h5>{{ (item?.productName?.length ?? 0) > 20 ? item.productName?.slice(0, 20) + '...' : item.productName
                  }}
                </h5>
                <p class="fw-semibold">{{ item.price | currency:'EGP ' }}</p>
                <div class="d-flex align-items-center gap-2">
                  <span>{{ item.quantity }} x</span>
                  <div class="color-swatch rounded-5" [style.background]="item.color"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="(cart$ | async) as cart">
          <!-- Empty cart message -->
          <div *ngIf="(cart?.orderItemDtos?.length || 0) == 0" class="empty-cart">
            😔 Your cart is empty
          </div>
        </div>

        <div *ngIf="!(cart$ | async) as cart" class="empty-cart">
          😔 Your cart is empty
        </div>
      </div>

      <div *ngIf="(cart$ | async) as cart; else emptyCardFooter">
        <div *ngIf="cart?.orderItemDtos && (cart?.orderItemDtos?.length || 0) > 0; else emptyCardFooter"
          class="cart-footer">
          <div class="total">
            <span><i class="bi bi-cash-stack text-caffe"></i> Total:</span>
            <span class="text-muted fw-semibold">{{ cart?.totalPrice | currency:'EGP ' }}</span>
          </div>
          <button class="viewCart-btn" routerLink="/checkout/cart" (click)="toggleCart()">View Cart</button>
          <button class="checkout-btn mb-4" routerLink="/checkout/address" (click)="toggleCart()">Proceed to
            Checkout</button>
        </div>
      </div>

      <ng-template #emptyCardFooter>
        <div class="cart-footer">
          <button class="checkout-btn mb-4" routerLink="/">Continue Shopping</button>
        </div>
      </ng-template>
    </div>

    <!-- User Dropdown -->
    <div class="user-menu" #userMenu>
      <button class=" user-trigger" (click)="toggleUserMenu()">

        <!-- Show image when available, icon when not -->
        <ng-container *ngIf="loggedInUser?.imageUrl; else defaultIcon">
          <img [src]="apiConfig.apiUrl + loggedInUser?.imageUrl" alt="User" class="user-avatar">
        </ng-container>

        <ng-template #defaultIcon>
          <i class="bi bi-person-circle fs-3"></i>
        </ng-template>

      </button>

      <div class="user-dropdown" [class.active]="showUserMenu">
        <ng-container *ngIf="!loggedInUser; else authenticatedUser">
          <a routerLink="/login" class="dropdown-item">
            <i class="bi bi-box-arrow-in-right" style="color: #6e5447;"></i> Sign In
          </a>
          <a routerLink="/register" class="dropdown-item" (click)="openSigUPDialog()">
            <i class="bi bi-person-plus" style="color: #6e5447;"></i> Sign Up
          </a>
        </ng-container>

        <ng-template #authenticatedUser>
          <div class="user-info">
            <!-- <p class="user-name">{{ currentUser.firstName }}</p> -->
            <p class="user-name">{{loggedInUser?.firstName ? loggedInUser?.firstName : 'User'}}</p>
            <!-- <p class="user-email">{{ currentUser.email }}</p> -->
            <p class="user-email">{{loggedInUser?.email ? loggedInUser?.email : 'user@gmail.com'}}</p>
          </div>
          <a class="dropdown-item" routerLink="/user/profile">
            <i class="bi bi-person-fill" style="color: #6e5447;"></i> Profile
          </a>
          <a class="dropdown-item" routerLink="user/wishlist">
            <i class="bi bi-heart-fill" style="color: #6e5447;"></i> Favorites
          </a>
          <a class="dropdown-item" routerLink="/user/orders">
            <i class="bi bi-receipt" style="color: #6e5447;"></i> Orders
          </a>
          <a class="dropdown-item" routerLink="/bids">
            <i class="bi bi-hammer" style="color: #6e5447;"></i> Bids
          </a>
          <a class="dropdown-item" routerLink="/user/reviews">
            <i class="bi bi-star-fill" style="color: #6e5447;"></i> Reviews
          </a>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="handleLogout()">
            <i class="bi bi-box-arrow-right" style="color: #6e5447;"></i> Log Out
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</header>
