<!-- Hero Slider -->
<section class="hero-slider">
  <div class="slider-container">
    <div *ngFor="let slide of heroSlides; let i = index" class="slide" [class.active]="i === activeSlideIndex"
      [style.background-image]="'url(' + slide.image + ')'">
      <div class="overlay z-2 position-absolute"></div>
      <div class="slide-content z-3">
        <h1 style="font-size: 3.5rem;">{{ slide.title }}</h1>
        <p class="ms-1 fst-italic" style="font-size: 1.5rem;">{{ slide.subtitle }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section class="services">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <div class="text-center pt-3 hero-section mt-4">
    <h1 class="text-center fw-bold fs-2">
      Discover Homes, Shop Furniture, and Join Property Auctions
    </h1>
    <p class="lead fst-italic mb-2">
      Your destination for buying, selling, and bidding on homes – and
      furnishing them too.
    </p>
    <div class="d-flex justify-content-center align-items-center mb-3">
      <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
      <i class="bi bi-search text-caffe mx-3 fs-5"></i>
      <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
    </div>
  </div>

  <div class="services-container">

    <div class="service-card">
      <img src="https://ssl.cdn-redfin.com/vLATEST/images/premier/landing/PLP_4429_E_Scorpio_Pl_Chandler_AZ01.jpg" style="height: 250px; width: 100%; object-fit: cover;">
      <div class="service-content">
        <h3><i class="fa-solid fa-house text-caffe fs-4 me-1 "></i> Your Future Home Awaits</h3>
        <p class="text-center">
          Explore stunning homes, envision your future, and uncover your next dream address.
        </p>
        <a [routerLink]="['/properties/all']" class="service-link">Start Exploring</a>
      </div>
    </div>

    <div class="service-card">
      <img src="https://media.istockphoto.com/id/1444348095/photo/property-auction-woman-hand-holding-gavel-wooden-and-model-house-on-natural-green-background.jpg?s=612x612&w=0&k=20&c=KtixSH2k-3kTJS9NYU4VPJcUsXbHROf933wIIkRi50s=" style="height: 250px; width: 100%; object-fit: cover;">
      <div class="service-content">
        <h3><i class='fas fa-hammer me-2 fs-4 text-caffe'></i>Bid Like a Boss</h3>
        <p class="text-center">
          Dive into property auctions where big deals and dream homes go under the hammer.
        </p>
        <a [routerLink]="['/auctions']" class="service-link">Enter the Bidding War</a>
      </div>

    </div>

    <div class="service-card">
      <img src="https://ik.imagekit.io/durian1985/Durian/durian/CategoryBanner/800x800/category_banner_20250401045723.jpg?tr=q-50" style="height: 250px; width: 100%; object-fit: cover;">
      <div class="service-content">
        <h3><i class="fa fa-couch text-caffe fs-4 me-1"></i> Furniture That Slaps</h3>
        <p class="text-center">
          From cozy couches to stylish tables, furnish your home without the hefty price tag.
        </p>
        <a [routerLink]="['/products/all']" class="service-link">Treat Your Home</a>
      </div>
    </div>

  </div>
</section>

<section class="container my-5">
  <h2 class="text-center fw-bold mb-2">Where Real Estate Meets Interior Vision</h2>
  <div class="d-flex justify-content-center align-items-center mb-3">
    <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
    <i class="bi bi-pin text-caffe mx-3 fs-5"></i>
    <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
  </div>

  <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between ms-3">
    <div class="me-lg-3 mb-4 mb-lg-0" style="width: 100vw; height: 60vh; overflow: hidden; border-radius: 12px;">
      <img src="images/3.jpg" alt="Modern furnished property with curated decor"
        class="w-100 h-100 object-fit-cover rounded" />
    </div>

    <div class="w-100 w-lg-50 text-center text-lg-start px-3">
      <h2 class="fw-light mb-3">One Platform, Endless Possibilities</h2>
      <p class="text-muted mb-4">
        From first auction bid to move-in day - everything you need to create your
        perfect home in one platform.
      </p>

      <ul class="list-unstyled">
        <li class="mb-3">
          <i class="bi bi-house-door fs-5 text-caffe me-2"></i>
          <strong>Precision Fit:</strong> Furniture scaled to property blueprints
        </li>
        <li class="mb-3">
          <i class="bi bi-building fs-5 text-caffe me-2"></i>
          <strong>Live Listings:</strong> Updated daily with photos, prices, and virtual tours
        </li>
        <li class="mb-3">
          <i class="bi bi-hammer fs-5 text-caffe me-2"></i>
          <strong>Simple Auctions:</strong> Bid online with real-time updates
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Featured Properties -->
<section class="inspiration-gallery my-5">
  <h1 class="text-center fw-bold fs-2">Featured Properties</h1>
  <p class="lead text-center fst-italic mb-2">
    Explore premium properties for sale or rent in prime locations.
  </p>
  <div class="d-flex justify-content-center align-items-center mb-3">
    <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
    <i class="bi bi-house-heart text-caffe mx-3 fs-5"></i>
    <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
  </div>
  <div class="gallery-container">
    <div *ngFor="let property of properties" class="gallery-item">
      <div [routerLink]="['/properties',property.id]" class="gallery-image position-absolute"
        [style.background-image]="'url('  + apiConfig.apiUrl + property.images[0] + ')'">
      </div>

      <a *ngIf="hasRoleOrNoUser('Buyer')" (click)="togglePropertyWishList(property)" class="d-inline-block"
        style="cursor: pointer;" role="button">
        <span class="badge position-absolute top-0 end-0 m-2 d-flex gap-2 bg-dark bg-opacity-50"
          style="font-size: 1rem;">
          <i class="bi" [ngClass]="{
                'bi-heart-fill text-danger': property?.isFavorite && hasUser(),
                'bi-heart text-white': !property?.isFavorite || !hasUser()
              }"></i>
        </span>
      </a>
      <!-- <span class="badge bg-caffe position-relative top-0 start-0 m-2">{{property.type}}</span> -->

      <span class="badge position-relative top-0 start-0 m-2 text-white"
        [style.background-color]="property.type === 'Rent' ? '#2a5f8b' : '#4a7d5e'">
        For {{ property.type === 'Sell' ? 'Sale' : 'Rent' }}
      </span>


      <div [routerLink]="['/properties',property.id]" class="gallery-overlay">
        <h3>{{ property.title }}</h3>
        <p>{{ property.location }}</p>
        <p>{{ property.price | currency:'EGP ' }}</p>
        <p *ngIf="property.bedRooms && property.bathRooms">
          {{ property.bedRooms }} Beds | {{ property.bathRooms }} Baths
        </p>
      </div>
    </div>
  </div>
  <div class="text-end mt-3 text-center">
    <p class="lead text-center fst-italic mb-4">Bookmark properties that spark your 'someday' dreams</p>
    <button [routerLink]="['/properties/all']" class="btn text-white mx-1 mb-2 rounded-3 fw-bold"
      style="background-color: #c38e79">
      View All Properties <i class="bi bi-arrow-right ms-2"></i>
    </button>
  </div>
</section>


<!-- Upcoming Auctions -->
<section class="inspiration-gallery">
  <h1 class="text-center fw-bold fs-2">Upcoming Auctions</h1>
  <p class="lead text-center fst-italic mb-2">
    Bid on exclusive properties and secure amazing deals through our auction platform.
  </p>
  <div class="d-flex justify-content-center align-items-center mb-3">
    <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
    <i class="bi bi-hammer text-caffe mx-3 fs-5"></i>
    <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
  </div>
  <div class="gallery-container">
    <div *ngFor="let auction of upcomingAuctions" class="gallery-item">
      <div class="gallery-image position-absolute" [style.background-image]="'url(' + auction.images[0] + ')'">

      </div>

      <span class="badge position-relative top-0 start-0 m-2" style="background-color: #2a5f8b;">Starting On: {{
        auction.date | date }}</span>
      <span class="badge bg-success position-absolute top-0 end-0 m-2">
        {{ auction.date | daysUntil }} Days Left
      </span>

      <div class="gallery-overlay">
        <h3>{{ auction.title }}</h3>
        <p>Starting Bid: {{ auction.price | currency:'EGP ' }}</p>
        <p>{{ auction.location }}</p>
        <!-- <p>{{ auction.date | date }}</p> -->
      </div>
    </div>
  </div>
  <div class="text-end mt-4 text-center">
    <p class="lead text-center fst-italic mb-4">These aren’t your grandma’s estate sales – high-stakes properties need
      bold bidders</p>
    <a [routerLink]="['/auctions']" class="btn text-white mx-1 mb-2 rounded-3 fw-bold"
      style="background-color: #c38e79">
      Enter the arena <i class="bi bi-arrow-right ms-2"></i>
    </a>
  </div>
</section>


<!-- Home Inspiration Gallery -->
<section class="inspiration-gallery my-5">
  <h1 class="text-center fw-bold fs-2">Top-Rated Treasures</h1>
  <p class="lead text-center fst-italic mb-2">
    Shop the pieces thousands of customers rated 5 stars for quality, style, and
    comfort.
  </p>
  <div class="d-flex justify-content-center align-items-center mb-3">
    <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
    <i class="bi bi-gem text-caffe mx-3 fs-5"></i>
    <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
  </div>
  <div class="gallery-container">
    <div *ngFor="let product of products" class="gallery-item">
      <div [routerLink]="['/products',product.id]" class="gallery-image position-absolute"
        [style.background-image]="'url(' + apiConfig.apiUrl + product.productimage[0] + ')'">
      </div>

      <a *ngIf="hasRoleOrNoUser('Buyer')" (click)="toggleProductWishList(product)" class="d-inline-block"
        style="cursor: pointer;" role="button">
        <span class="badge position-absolute top-0 end-0 m-2 d-flex gap-2 bg-dark bg-opacity-50"
          style="font-size: 1rem;">
          <i class="bi" [ngClass]="{
                'bi-heart-fill text-danger': product?.isFavorite && hasUser(),
                'bi-heart text-white': !product?.isFavorite || !hasUser()
              }"></i>
        </span>
      </a>

      <!-- <span class="badge bg-caffe position-relative top-0 start-0 m-2">{{ item.category }}</span> -->
      <span class="badge position-relative top-0 start-0 m-2 text-white"
        [style.background-color]="product.isUsed ? '#de8332' : '#2a5f8b'">
        {{ product.isUsed ? 'Used' : 'New' }}
      </span>

      <div [routerLink]="['/products',product.id]" class="gallery-overlay">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
  <div class="text-end mt-4 text-center">
    <p class="lead text-center fst-italic mb-4">
      Find the perfect furniture to match your dream home design
    </p>
    <a [routerLink]="['/products/all']" class="btn text-white mx-1 mb-2 rounded-3 fw-bold"
      style="background-color: #c38e79">
      View All Products <i class="bi bi-arrow-right ms-2"></i>
    </a>
  </div>
</section>


<section class="trust my-5">
  <h3 class="text-white">Trusted By Thousands</h3>
  <div class="stats">
    <div *ngFor="let stat of stats" class="stat">
      <p class="number">{{ stat.value }}</p>
      <p class="text-white">{{ stat.label }}</p>
    </div>
  </div>
</section>

<!-- Signup/CTA Section -->
<section *ngIf="!hasUser()" class="signup-section">
  <div class="signup-container">
    <h2>Get Started Today</h2>
    <p>
      Join thousands of satisfied customers who have found their dream home and
      furniture through our platform.
    </p>
    <a class="btn text-white mx-1 mb-2 rounded-3 fw-bold" style="background-color: #c38e79" (click)="openSigUPDialog()">
      Create Account <i class="bi bi-arrow-right ms-2"></i>
    </a>
  </div>
</section>


<!-- Testimonials Section -->
<section class="testimonials my-5">
  <!-- <h2 class="section-title">Customer <span>Testimonials</span></h2> -->
  <div class="text-center pt-3 hero-section">
    <h1 class="text-center fw-bold fs-2">Voices of Trust</h1>
    <p class="lead fst-italic mb-2">
      Real stories. Real trust. Hear from happy customers and see why they
      choose and love us.
    </p>
    <div class="d-flex justify-content-center align-items-center mb-3">
      <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
      <i class="bi bi-chat-left-text text-caffe mx-3 fs-5"></i>
      <div class="line-divider" style="width: 60px; height: 2px; background: #c38e79;"></div>
    </div>
  </div>
  <div class="testimonial-container">
    <div *ngFor="let testimonial of testimonials" class="testimonial-card">
      <div class="testimonial-header">
        <div class="testimonial-avatar" [style.background-image]="'url(' + testimonial.avatar + ')'"></div>
        <div class="testimonial-info">
          <h4>{{ testimonial.name }}</h4>
          <p>{{ testimonial.type }}</p>
        </div>
      </div>
      <p class="testimonial-quote">{{ testimonial.quote }}</p>
    </div>
  </div>
</section>

<!-- <section class="newsletter">
  <div class="blog-preview">
    <h3>Latest Tips</h3>
    <div class="blog-post">
      <h4>How to Stage Your Home with Modern Furniture</h4>
      <a routerLink="/blog" class="read-more">Read More →</a>
    </div>
  </div>
  <div class="newsletter-signup">
    <h3>Get Exclusive Updates</h3>
    <input type="email" placeholder="Enter your email" />
    <button class="subscribe-btn">Subscribe</button>
  </div>
</section> -->

<!-- <section class="feedback-section">
  <div class="feedback-ratings">
    <h3>Share Your Experience</h3>
    <div class="rating-container">
      <div class="star-rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
      </div>
    </div>
  </div>
  <div class="feedback-form">
    <h3>Quick Feedback</h3>
    <textarea placeholder="Your comments..." rows="2"></textarea>
    <button class="submit-btn">Submit Feedback</button>
  </div>
</section> -->
