<div class="d-flex w-100 min-vh-100 shadow overflow-hidden">
    <div class="left-section d-flex align-items-center justify-content-center w-50">
      <div class="text-caffe p-5 rounded-5 border border-light shadow-lg w-100">
        <div class="text-center text-caffe  ps-4 pe-4 mt-3">
          <i class="bi bi-exclamation-circle-fill" style="font-size: 50px;"></i>
        </div>
        <h2 class="text-caffe  mb-2 mt-1 text-center">Your Email Not Confirmed</h2>
        <p class="text-center mt-3 text-muted">
            <small>
                You can’t login You need to confirm your Account first  
                Please click Continue to activate your account.
              </small>
        </p>
        <a [routerLink]="['/sendcode']" class="mt-4 mb-4 text-light p-2 btnStyle bg-caffe w-50 mx-auto d-block text-center">
            Confirm Your Email
        </a>
      </div>
    </div>
    <div class="right-section d-none d-md-block w-50">
 
    </div>
</div>
