
  .left-section,
  .right-section {
    flex: 1;
    padding: 50px 120px;
  }
    
  
 .right-section {
    background: url('/images/Home/login.jpg') no-repeat center center/cover;
    animation: slideInFromRight 1s ease-out forwards; /* Adjust the duration and easing as needed */
 
 } 
  
 @keyframes slideInFromRight {
   0% {
     transform: translateX(100%);
     opacity: 0;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }
  .btnStyle {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.5s ease;  
 }
 
 .btnStyle:hover {
    transform: scale(1.05); }
  