<div class="d-flex w-100 min-vh-100 shadow overflow-hidden">
    <div class="left-section d-flex align-items-center justify-content-center w-50">
      <div class="text-caffe p-5 rounded-5 border border-light shadow-lg w-100">
        <div class="text-center text-caffe ps-4 pe-4">
          <i class="bi bi-search" style="font-size: 50px;"></i>
        </div>
        <h1 class="text-caffe mb-2 text-center">Find Your Account</h1>
        <form [formGroup]="forgetpassword" (ngSubmit)="forget()">
          <div class="mb-3 mt-5">
            <label class="form-label fw-semibold mb-2">Email</label>
            <div class="input-group">
              <span class="input-group-text bg-light border-0">
                <i class="bi bi-envelope text-caffe fs-5"></i>
              </span>
              <input
                type="email"
                class="form-control border-0 shadow-sm"
                placeholder="Enter Confirm Email"
                formControlName="email"
              />
            </div>
            <div
              *ngIf="forgetpassword.get('email')?.hasError('required') && forgetpassword.get('email')?.touched"
              class="text-danger small ps-2"
            >
              Email is required.
            </div>
            <div
              *ngIf="forgetpassword.get('email')?.hasError('pattern') && forgetpassword.get('email')?.touched"
              class="text-danger small ps-2"
            >
              Enter a valid email.
            </div>
          </div>
  
          <div class="error text-danger ms-3"></div>
          <button type="submit" class="mt-5 mb-4 text-light p-2 btnStyle bg-caffe w-50 mx-auto d-block text-center"
          >
            Send code
          </button>
        </form>
      </div>
    </div>
    <div class="right-section d-none d-md-block w-50">
      <!-- Right section content goes here -->
    </div>
  </div>
  